#navigation-list
{
    list-style-type: none;
    padding: 0.0;
}

#navigation-list
{
    display: flex;
    padding-bottom: .4rem;
    border-bottom: .01rem solid;
    gap: 2rem;
}

.logo
{
    margin-right: auto;
}