.logo
{
    margin-right: auto;
}


#navigation-list
{
    display: flex;
    padding-bottom: .4rem;
    border-bottom: .01rem solid;
    gap: 2rem;
    list-style-type: none;
    padding: 0.0;
    flex-wrap: wrap;
}

