main
{
    margin-top: 15%;
}

* {
    color: white;
}

body {
    background-image: url('https://images2.alphacoders.com/261/26102.jpg');
  }

*
{   
    text-align: center;
    font-weight: 800;
}

/* .status, .status *
{
    background-color: black;
} */

.introductory-text
{
    width: 40%;
    margin: auto;
    font-size: large;
}

.introductory-text-list{
    list-style: none;
    padding: 0;
}

/* .status{
    width: 20%;
    height: 6rem;
    margin: 20px auto;
    padding: 2%;
}

.status-heading
{
    margin-top: 0px;
} */


.status-button
{
    background-color: violet;
}

.status-buttons
{
    margin-top: 15%;
}