h1
{
    text-align: center;
}



* {
    background-color: #4285F4;
    color: white;
}

*
{   
    text-align: center;
    font-weight: 800;
}

.status, .status *
{
    background-color: black;
}

.extra-space
{
    height: 15px;
}

.status-button
{
    background-color: #4285F4;
}
